<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">

    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
    <bean id="logoutFilter" class="org.apache.shiro.web.filter.authc.LogoutFilter">
        <property name="redirectUrl" value="/login.action"/>
    </bean>

    <bean id="myRealm" class="com.shiro.MyRealm"/>
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="myRealm"/>
    </bean>
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <!--登录页面设置-->
        <property name="loginUrl" value="/login.jsp"/>
        <!--登录成功页面-->
        <property name="successUrl" value="/loginSuccess"/>
        <!--权限不足默认返回的页面-->
        <property name="unauthorizedUrl" value="/error.jsp"/>
        <property name="filters">
            <util:map id="map">
                <entry key="authc">
                    <bean class="com.shiro.AccountFormAuthenticationFilter"/>
                </entry>
                <entry key="logout" value-ref="logoutFilter"/>
            </util:map>
        </property>
        <property name="filterChainDefinitions">
            <value>
                /user/** = authc
                /index.jsp =anon
                /login.jsp = anon
                /*.html = anon
                /*.js = anon
                /*.css = anon
                /role/edit/* = perms[role:edit]
                /role/save = perms[role:edit]
                /role/list = perms[role:view]
                /** = authc
            </value>
        </property>
    </bean>
</beans>
